
    <!-- MODAL aviso maximo contadores ===================================================================================== -->

    <script type="text/javascript">

        $(window).ready(function() {

            $('#aviso_max_vasos').modal('show');

        });

    </script>

    <div class="modal modal-warning fade" id="aviso_max_vasos">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Vasos</h4>
                </div>
                <div class="modal-body">
                    <p>Se ha alcanzado el número máximo de vasos disponibles para esta instalación. Si necesita solicitar algún tipo de ayuda póngase en contacto con el departamento de soporte en el siguiente enlace <a href="/support">Help Desk</a></p>
                    <p><h6 class="text-center">&copy; 2017 cosilsCompany, Inc.</h6></p>
                </div>
                <div class="modal-footer">
                    <a href="/vasos" type="button" class="btn btn-outline pull-right">Volver</a>
                </div>
            </div>

        </div>
    </div>
