
    <!-- MODAL aviso maximo antiguedad ===================================================================================== -->

    <script type="text/javascript">

        $(window).ready(function() {

            $('#aviso_max_antiguo').modal('show');

        });

    </script>

    <div class="modal modal-warning fade" id="aviso_max_antiguo">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Antiguedad</h4>
                </div>
                <div class="modal-body">
                    <p>Este parte ha superado el tiempo máximo permitido para ser modificado.</p>
                    <p><h6 class="text-center">&copy; 2017 cosilsCompany, Inc.</h6></p>
                </div>
                <div class="modal-footer">
                    <a href="/quizes" type="button" class="btn btn-outline pull-right">Volver</a>
                </div>
            </div>

        </div>
    </div>
