
    <!-- Main content  SUPPORT -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <br>
                    <form class="form"
                			method="post"
                			action="/support/send_mail?_method=put">

                        <div class="box-header with-border">
                            <!-- <div class="callout callout-info"> -->
                                <h3 class="box-title">Bienvenido al centro de soporte de SupCounter<span style="font-size: 12px;">&copy;</span></h3>
                                <h5>Describa a continuación cualquier sugerencia, problema o necesidad de información.</h5>
                            <!-- </div> -->
                        </div>

                        <div class="box-body">

                            <div class="form-group">
                                <input class="form-control" placeholder="Motivo" id="subject" name="subject" required>
                            </div>

                            <div class="form-group">
                                <textarea id="compose-textarea" class="form-control" name="text" style="height: 300px">
                                    <ul>
                                        <li>Usuario: <%= user.username %></li>
                                        <li>Centro: <%= user.centro %></li>
                                        <li>Fecha de la solicitud: <%= fecha %></li>
                                    </ul>
                                    <h4>Detalle aquí el motivo de la solicitud.</h4>
                                </textarea>
                            </div>

                        </div>

                        <div class="box-footer">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary" href="/support/send_mail"><i class="fa fa-envelope-o"></i> Enviar</button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-footer">
                        <p>Si lo desea, puede enviarnos archivos en relación a su solicitud.</p>
                        <form class="form" action="/support/upload" method='post' enctype='multipart/form-data'>
                           <input type="file" class="btn btn-primary btn-sm" name='archivo'>
                           <br>
                           <button type="submit" class="btn btn-primary"><i class="fa fa-cloud-upload"></i> Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script>
      $(function () {
        //Add text editor
        $("#compose-textarea").wysihtml5();
      });
    </script>
